<div class="container" ng-controller="stateInfoController">
	<div class="banner-top stateInfoPage">
		<h1>{{stateNameInfo}} State info</h1>
        <div class="clear">
            <p> State Abbreviation : </p> {{stateDetailInfo.abbreviation}}
        </div>
        <div class="clear">
            <p> State Capital : </p> {{stateDetailInfo.capital}}
        </div>
        <div class="clear">
            <p> State Most Populous City : </p> {{stateDetailInfo.most-populous-city}}
        </div>
        <div class="clear">
            <p> State Population : </p> {{stateDetailInfo.population}}
        </div>
        <div class="clear">
            <p> State square Miles : </p> {{stateDetailInfo.square-miles}}
        </div>
        <div class="clear">
            <p> State Time Zone 1 : </p> {{stateDetailInfo['time-zone-1']}}
        </div>
        <div class="clear">
            <p> State Time Zone 2 : </p> {{stateDetailInfo['time-zone-2']}}
        </div>
        <div class="clear">
            <p> State Dst : </p> {{stateDetailInfo.dst}}
        </div>
	</div>
    
</div>